body {
    background-color: rgb(251, 251, 251);
}

header{
    height:100px;
    display:flex;
    align-items: center;
}

#logo{
    height:140px;
    width:140px;
}


p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-right:0px;
    margin-left:0px;
    overflow-wrap: break-word;
}

.card-body{
    height:400px;
    margin:0;
    
    
}

.card-body p{
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
    
}

.card-body p:first-child {
    
}



.center-box h3{
    font-size: 36px;
}

.center-box h1{
    font-size: 120px;
}

.center-box{
    text-align: center;
    color: white;
}

.box{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxbox{
    height:300px;
    text-align: center;
}

.mini {
    font-size: 16px;
}

.wish_body input {
    width: 15px;
    height: 15px;
}


.card-body p{
   display: flex;
   writing-mode: vertical-rl;
   align-items: center;
   margin-bottom:10px;
   text-align:center;
}



.wish_body{
    width:100vw;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


 .wrapper{
      width:100vw;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 
 @media screen and (max-width: 600px) {
    h3{
        font-size:48px;
    }
    
    h1{
        font-size:180px;
    }
    
    btn btn-success{
        font-size:42px;
    }
    
    box p{
        font-size:32px;
    }
}